body {
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 32px 250px 150px 250px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
}

.page-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.page-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px
}

.header-content-left {
    display: flex;
    flex-direction: column;
    max-width: 50%;

}

.welcome-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 0;
}

.welcome-message {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 2px;
    margin-bottom: 16px;
}

button {
    border-radius: 8px;
    padding: 10px 24px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
}

.header-content-right {
    display: flex;
    max-width: 50%;
}

.header-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 16px 75px 16px;
}

.main-title {
    font-weight: 800;
    color: #1f2937;
    font-size: 36px;
    text-align: center;
    padding-bottom: 16px;
}

.images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 175px;
}

.image-square {
    object-fit: cover;
    width: 175px;
    height: 175px;
    border-style: solid;
    border-color: #3b82f6;
    border-radius: 16px;
    border-width: 4px;
}

.image-caption {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #4b5563;
    font-size: 18px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 300px 100px 300px;
}

.quote {
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    font-size: 36px;
    align-items: center;
    align-content: center;
}

.quote-author {
    text-align: right;
    font-weight: 800;
}

.action-container {
    margin: 100px 200px;
    border-radius: 8px;
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 100px;
    padding: 25px 200px;
}

.action-left {
    color: white;
}

.action-title {
    padding-bottom: 0;
    margin-bottom: 8px;
}

.action-message {
    padding-top: 0;
    margin-top: 8px;
}

.sign-up-button-bottom {
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    border-width: 2px;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: white;
    font-weight: 100;
    font-size: 14px;
    padding: 30px 0 30px 0;
}